<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="spring.foodev.mappers.BoardMapper">
   
 
   <select id="getBoardList" resultType="BoardVO" >
SELECT * FROM board
 ORDER BY post_id desc
    </select>
  
    
</mapper>